
	@import 'https://fonts.googleapis.com/css?family=Do+Hyeon';
 *, *:before, *:after {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 .clear-fix:after {
	 display: block;
	 clear: both;
	 content: '';
}
 .img-responsive {
	max-width: 100%;
	height: auto;
}
 .card__collection {
	padding: 100px;
	font-family: 'Do Hyeon', sans-serif;
	overflow: hidden;
}
 .card__collection .cards {
	width: 250px;
	height: 400px;
	display: block;
	background-size: cover;
	float: left;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	background-position: center;
	margin: 10px;
}

 .card__collection .cards--three {
	 position: relative;
	 z-index: 10;
}
.card__collection .cards--three:hover {
	border:2px solid #fff;
}
 .card__collection .cards--three:hover .cards--three__rect-1 {
	 left: 20%;
}
 .card__collection .cards--three:hover .cards--three__rect-1 .shadow-1 {
	 left: -40%;
}
 .card__collection .cards--three:hover .cards--three__rect-2 {
	 left: 60%;
}
 .card__collection .cards--three:hover .cards--three__rect-2:before {
	 left: -100%;
}
 .card__collection .cards--three:hover .cards--three__rect-2:after {
	 left: 80%;
}
 .card__collection .cards--three:hover .cards--three__rect-2 .shadow-2 {
	 left: -10%;
}
 .card__collection .cards--three:hover .cards--three__circle {
	 transform: scale(1);
}
 .card__collection .cards--three:hover .cards--three__circle:before {
	 transform: scale(0.9);
}
 .card__collection .cards--three:hover .cards--three__list li {
	 transform: translateX(0);
}
 .card__collection .cards--three__rect-1 {
	 background: #fff;
     padding: 10px;
     line-height:40px;
	 width: 230px;
	 height: 110px;
	 transform: skewX(-20deg);
	 display: block;
	 position: absolute;
	 top: 50%;
	 opacity: 0.9;
	 left: -100%;
	 z-index: 8;
	 transition: all 0.5s ease-in;
}
 .card__collection .cards--three__rect-1 p {
	 font-size: 20px;
	 color: #fff;
	 transform: skewX(20deg);
	 line-height: 3rem;
}
 .card__collection .cards--three__rect-1 .shadow-1 {
     background: #57ccfd;
     padding:25px;
     opacity: 0.9;
     text-align:center;
	 width: 300px;
	 height: 100px;
	 display: block;
	 position: absolute;
	 left: -200%;
	 z-index: -1;
	 transition: all 0.3s ease-in;
}
 .card__collection .cards--three__rect-2 {
	 width: 500px;
	 height: 70px;
	 background: #fff;
	 position: absolute;
	 top: 65%;
	 left: 1000%;
	 opacity: 0.9;
	 transform: skewX(-20deg);
	 z-index: 8;
	 transition: all 0.5s ease-in;
}
 .card__collection .cards--three__rect-2::before {
	 content: '';
	 display: block;
	 width: 50px;
	 height: 40px;
	 background: #57ccfd;
	 opacity: 1;
	 position: absolute;
	 left: 500%;
	 top: 10%;
	 transition: all 0.3s ease-in;
}
 .card__collection .cards--three__rect-2::after {
	 content: '';
	 display: block;
	 width: 50px;
	 height: 40px;
	 background: #9b1308;
	 opacity: 1;
	 position: absolute;
	 left: 500%;
	 top: 100%;
	 transition: all 0.5s ease-in;
	 transition-delay: 0.2s;
}
 .card__collection .cards--three__rect-2 .shadow-2 {
	 border:2px solid #57ccfd;
     padding: 25px;
     font-size: 16px;
	 width: 100%;
	 height: 100%;
	 display: block;
	 position: absolute;
	 top: -30%;
	 left: 500%;
	 transition: all 0.5s ease-in;
	 transition-delay: 0.2s;
}
 .card__collection .cards--three__circle {
	 width: 220px;
	 height: 220px;
	 border-radius: 25%;
     border:2px solid #57ccfd;
	 position: absolute;
	 top: -15%;
	 left: 50%;
	 opacity: 0.9;
	 transform: scale(0);
	 transition: all 0.3s ease;
}
 .card__collection .cards--three__circle:before {
	 content: '';
	 display: block;
	 width: 100%;
	 height: 100%;
	 background: #fff;
	 border-radius: 50%;
	 transform: scale(0);
	 transition: all 0.3s ease;
	 transition-delay: 0.2s;
}
 .card__collection .cards--three__list {
	 list-style: none;
	 position: absolute;
	 top: -9px;
	 right: 7px;
	 padding-top: 60px;
	 transition: all 0.4s ease;
}
 .card__collection .cards--three__list li {
	 display: inline-block;
	 margin: 4px;
	 color: #fff;
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 background: brown;
	 text-align: center;
	 line-height: 1.7rem;
	 font-size: 12px;
	 transition: all 0.3s ease;
	 transform: translateX(500%);
}
 .card__collection .cards--three__list li:nth-child(1) {
	 transition-delay: 0.2s;
}
 .card__collection .cards--three__list li:nth-child(2) {
	 transition-delay: 0.3s;
}
 .card__collection .cards--three__list li:nth-child(3) {
	 transition-delay: 0.4s;
}
