.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}


img.avatar{
    border-radius:50%;
    width:20%;
}
img.product-order{
    width:20%;
}
.card:hover {
  color:red;
}
