
	/********************************************************************** */
	.container{
		margin-top:5em;
		margin-bottom:5em;
	}
	.my-card{
		box-shadow: 0 4px 8px 0 #fff;
		background-size:cover;
		background-position:top;
		width: 160px;
		height: 250px;
		margin: 50px 10px;
		display: inline-block;
		text-align: center;
		color:aquamarine;
	}
	.my-card:hover{
		box-shadow: 0px 0px 10px 1px aquamarine;
		/* border: 4px solid rgb(207, 132, 174); */
		transform: rotate(1deg);
		/* top: -5px; */
		transform: translateX(-5px);
	}
	.card-img-top{
		width: 500px;
	}
	.my-card-body{
		position: relative;
    	top:120px;
		border:none;
		font-size:16px;
		text-shadow:1px 1px 1px #000;
	}
	h2.card-title{
		margin-bottom:-5px;
	}
	.product-view{
		text-decoration:none;
		color:#fff;
	}
	#welcome_page{
		width: calc(100% - 200px);
		position: relative;
    	display: block;
		margin-left:auto;
		margin-right:auto;
	}
